<!--
        - #ABOUT
      -->

<article class="about  active" data-page="about">

<header>
    <h2 class="h2 article-title">About me</h2>
</header>

<section class="about-text">
    <p>
        I am a Ph.D. candidate working with Dr. Ali Jannesari at Iowa State University. 
        
        My current research explores algorithmic and systems-level optimizations for GNNs, aiming to reduce computational and communication overhead while maintaining model accuracy. 
        I am particularly interested in efficient data movement, parallel computing, memory management, and distributed optimization tailored for modern HPC platforms. <br>
        
    </p>
</section>
<section class="recent-updates" id="recent-updates">
  <h3 class="h4 service-title">Recent Updates</h3>
  <section class="timeline">
    <ol class="timeline-list"></ol>
  </section>
</section>
 
<!--
    - service
-->

<section class="service">

    <h3 class="h3 service-title">Ongoing Projects</h3>

    <ul class="service-list">
        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-graph.png" alt="design icon" width="40">
        </div>

        <div class="service-content-box">
            <h5 class="h5 service-item-title">Scaling Graph Neural Networks</h5>

            <p class="service-item-text">
            A novel prefetch and eviction scheme integrated into Amazon's DistDGL to optimize sampling and communication overheads in distributed Graph Neural Network (GNN) training, achieving a 15-40% performance improvement in Open Graph Benchmark (OGB) graph datasets on NERSC's Perlmutter Supercomputer. 
            [<a href="https://github.com/pnnl/MassiveGNN">Code</a>]
            [<a href="https://arxiv.org/pdf/2410.22697">CLUSTER'24</a>]
            </p>
        </div>

        </li>
        <li class="service-item">

            <div class="service-icon-box">
                <img src="./assets/images/icon-graph.png" alt="design icon" width="40">
            </div>
    
            <div class="service-content-box">
                <h5 class="h5 service-item-title">Model Souping in GNNs</h5>
    
                <p class="service-item-text">
                    Souping strategies for GNNs that enhance efficiency by reducing time and memory overhead. Our methods achieve significant speedups and accuracy improvements across various datasets and architectures. 
                [<a href="https://github.com/Zubes01/Enhanced-Soups-for-Graph-Neural-Networks">Code</a>]
                [<a href="https://arxiv.org/abs/2503.11612">IPDPS'25 GrAPL</a>]
                </p>
            </div>
    
            </li>

        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-hydro.png" alt="design icon" width="40">
        </div>

        <div class="service-content-box">
            <h5 class="h5 service-item-title">Scalable Spatiotemporal Forecasting for Hydrology</h5>

            <p class="service-item-text">
                Hydrological forecasting using CNNs, LSTMs, GNNs, and Transformers, integrating domain knowledge to improve accuracy, efficiency, and transferability on large-scale river basins, with distributed training for scalable deployment.
            [<a href="https://arxiv.org/pdf/2410.22697">NeurIPS'21 AI4S</a>]
            [<a href=https://arxiv.org/abs/2301.11787>HPC ASIA'23 MMCP</a>]
            [<a href=https://ieeexplore.ieee.org/abstract/document/10196650>IPDPS'23 ExSAIS</a>]
            [<a href=>SIGSPATIAL'25</a>]

            </p>
        </div>

        </li>

    </ul>

    </section>

    <section class="service">
        <h3 class="h3 service-title">Patents</h3>

    <ul class="service-list">
        <li class="service-item">

            <div class="service-icon-box">
                <img src="./assets/images/icon-tower.png" alt="camera icon" width="40">
            </div>
    
            <div class="service-content-box">
                <h5 class="h5 service-item-title">TowFi</h5>
    
                <p class="service-item-text">
                A mobile network dead zone warning system, deployed on the IBM Bluemix, which tracks and warns users about network depleted zones in the users’ vicinity using a combination of statistical analysis and interpolation of previously available networks data. Won IBM Bluemix Idea Hack in association with NASSCOM & IAMAI Mobile. Patent Filed: 201731014184 (April 2017, India) 
                </p>
            </div>
    
            </li>
            <li class="service-item">

                <div class="service-icon-box">
                    <img src="./assets/images/icon-tag.png" alt="Web development icon" width="40">
                </div>
        
                <div class="service-content-box">
                    <h5 class="h5 service-item-title">SnaaP Tag</h5>
        
                    <p class="service-item-text">
                    A community-based low-cost hybrid energy sensor network system using RFIDs for real-time localization and tracking of objects. Received funding from the Department of Science & Technology, Govt. of India. Patent Filed: 201731014175 (April 2017, India). [<a href="https://github.com/aishwaryyasarkar/SnaaP">Code</a>]
                    </p>
                </div>
        
                </li>
    </ul>
    </section>
    <section class="service">
        <h3 class="h3 service-title">Course Projects</h3>

    <ul class="service-list">
        <li class="service-item">

            <div class="service-icon-box">
                <img src="./assets/images/icon-reco.png" alt="camera icon" width="40">
            </div>
    
            <div class="service-content-box">
                <h5 class="h5 service-item-title">Product Recommendation System</h5>
    
                <p class="service-item-text">
                A system that recommends Amazon products to users based on product ratings, only these ratings are predicted by the 
                model itself by analyzing the sentiment from the users’ comments.
                </p>
            </div>
    
            </li>

        <li class="service-item">

            <div class="service-icon-box">
                <img src="./assets/images/icon-toilet.png" alt="camera icon" width="40">
            </div>
    
            <div class="service-content-box">
                <h5 class="h5 service-item-title">Smart Toilet</h5>
    
                <p class="service-item-text">
                A Raspberry Pi-based system designed to integrate into the toilet capable of detecting blood in urine and stool. It is paired 
                with an Android Application that sends alerts if an abnormal amount of blood is detected. This system was selected for presentation 
                at a senior care facility to showcase its potential for early health monitoring.
                </p>
            </div>
    
            </li>
            <li class="service-item">

                <div class="service-icon-box">
                    <img src="./assets/images/icon-emergency.png" alt="mobile app icon" width="40">
                </div>
        
                <div class="service-content-box">
                    <h5 class="h5 service-item-title">Cerca Trova</h5>
        
                    <p class="service-item-text">
                    A real-time rapid response emergency redressal service where an Android Application is designed to bridge the gap 
                    between the help seeker and the emergency service provider. 
                    [<a href="https://github.com/aishwaryyasarkar/CercaTrova-Server">Code</a>]
                    </p>
                </div>
        
                </li>
    </ul>
    </section>