<!--
        - #ABOUT
      -->

<article class="about  active" data-page="about">

<header>
    <h2 class="h2 article-title">About me</h2>
</header>

<section class="about-text">
    <p>
    As a researcher with a passion for deep learning, I specialize in developing algorithms and models that leverage the latest advances in high-performance computing to accelerate the training of neural networks. My current research focuses on graph neural networks, exploring novel approaches to training these models and optimizing their performance in a distributed computing environment. 


    </p>
    <!-- <p>
    With a deep background in computer science and a wealth of experience working with complex datasets, I am constantly exploring new ways to push the boundaries of what is possible with machine learning. Whether I'm exploring the potential of new hardware architectures or developing novel algorithms to improve the accuracy and speed of neural networks, I am driven by a desire to make breakthroughs that will have a transformative impact on the field. Some of my recent work has focused on developing new techniques for distributed training of neural networks, leveraging advanced parallel computing architectures to achieve unprecedented levels of performance. 

    </p>
    <p>
    In addition to my research work, I am passionate about teaching and mentoring the next generation of machine learning experts. I am also deeply committed to advancing diversity and inclusion in STEM, working to create a more welcoming and supportive environment for all individuals who are interested in pursuing careers in AI and related fields.

    </p> -->
</section>
<!--
    - service
-->

<section class="service">

    <h3 class="h3 service-title">Projects</h3>

    <ul class="service-list">
        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-graph.png" alt="design icon" width="40">
        </div>

        <div class="service-content-box">
            <h4 class="h4 service-item-title">MassiveGNN</h4>

            <p class="service-item-text">
            A novel prefetch and eviction scheme integrated into Amazon's DistDGL to optimize sampling and communication overheads in distributed Graph Neural Network (GNN) training, achieving a 15-40% performance improvement in Open Graph Banchmark (OGB) graph datasets on NERSC's Perlmutter Supercomputer.
            </p>
        </div>

        </li>

        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-hydro.png" alt="design icon" width="40">
        </div>

        <div class="service-content-box">
            <h4 class="h4 service-item-title">HydroDeep</h4>

            <p class="service-item-text">
            A knowledge-guided deep neural network for streamflow prediction with gridded (pixelated) spatiotemporal data, that outperformed benchmark models in the application domain
            Proposed four transfer learning approaches that reduce training time by 95% with accuracy improvement of up to 108%.

            </p>
        </div>

        </li>

        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-tag.png" alt="Web development icon" width="40">
        </div>

        <div class="service-content-box">
            <h4 class="h4 service-item-title">SnaaP Tag</h4>

            <p class="service-item-text">
            Developed a community-based low-cost hybrid energy sensor network system using RFIDs for real-time localization and tracking of objects. Received funding from the Department of Science & Technology, Govt. of India. Patent Filed: 201731014175 (April 2017, India)
            </p>
        </div>

        </li>

        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-emergency.png" alt="mobile app icon" width="40">
        </div>

        <div class="service-content-box">
            <h4 class="h4 service-item-title">Cerca Trova</h4>

            <p class="service-item-text">
            A real-time rapid response emergency redressal service where an Android Application is designed to bridge the gap between the help seeker and the emergency service provider. 
            </p>
        </div>

        </li>

        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-tower.png" alt="camera icon" width="40">
        </div>

        <div class="service-content-box">
            <h4 class="h4 service-item-title">TowFi</h4>

            <p class="service-item-text">
            Developed a mobile network dead zone warning system, deployed on the IBM Bluemix, which tracks and warns users about network depleted zones in the users’ vicinity using a combination of statistical analysis and interpolation of previously available networks data. Won IBM Bluemix Idea Hack in association with NASSCOM & IAMAI Mobile. Patent Filed: 201731014184 (April 2017, India) 
            </p>
        </div>

        </li>

        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-reco.png" alt="camera icon" width="40">
        </div>

        <div class="service-content-box">
            <h4 class="h4 service-item-title">Product Recommendation System</h4>

            <p class="service-item-text">
            A system that recommends Amazon products to users based on product ratings, only these ratings are predicted by the model itself by analyzing the sentiment from the users’ comments.
            </p>
        </div>

        </li>

        <li class="service-item">

        <div class="service-icon-box">
            <img src="./assets/images/icon-toilet.png" alt="camera icon" width="40">
        </div>

        <div class="service-content-box">
            <h4 class="h4 service-item-title">Smart Toilet</h4>

            <p class="service-item-text">
            A system based on Raspberry Pi designed to fit in the toilet which is able to detect blood in urine and stool, with an Android Application that will receive alerts if any unnatural amount of blood is present.
            </p>
        </div>

        </li>

    </ul>

    </section>