<article class="hobby active" data-page="hobby">
    <header>
      <h2 class="h2 article-title">Hobbies</h2>
    </header>
    <section class="timeline">
        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="book-outline"></ion-icon>
          </div>
          <h4 class="h4">Reading</h4>
        </div>
        <ul class="favorite-books">
            <p class="service-item-text">
                I enjoy exploring various genres and usually gravitate toward books that make me think, 
                challenge my assumptions or teach me about a new topic 
                or event that I had not encountered before. Some books that have stayed with me are:
            </p>
            <li><a href="https://www.goodreads.com/book/show/11468377-thinking-fast-and-slow" target="_blank">Thinking, Fast and Slow by Daniel Kahneman</a></li>
            <li><a href="https://www.goodreads.com/book/show/27276428-the-gene" target="_blank">The Gene: An Intimate History by Siddhartha Mukherjee</a></li>
            <li><a href="https://www.goodreads.com/book/show/59575939-an-immense-world" target="_blank">An Immense World: How Animal Senses Reveal the Hidden Realms Around Us by Ed Yong</a></li>
            <li><a href="https://www.goodreads.com/book/show/19063.The_Book_Thief" target="_blank">The Book Thief by Markus Zusak</a></li>
            <li><a href="https://www.goodreads.com/book/show/40961427-1984" target="_blank">1984 by George Orwell</a></li>
            <li><a href="https://www.goodreads.com/book/show/58696.David_Copperfield" target="_blank">David Copperfield by Charles Dickens</a></li>
            <li><a href="https://www.goodreads.com/book/show/1898.Into_Thin_Air" target="_blank">Into Thin Air: A Personal Account of the Mt. Everest Disaster by Jon Krakauer</a></li>
        </ul>
      </section>

      <section class="timeline">
        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="camera-outline"></ion-icon>
          </div>
          <h4 class="h4">Photography</h4>
        </div>
        <ul class="favorite-books">
            <p class="service-item-text">
                I like to experiment with different compositions — interesting angles and depth of field,
                framing everyday objects in unexpected ways, and capturing details that might go unnoticed. 
            </p>
        </ul>
      </section>

      <section class="timeline">
        <div class="title-wrapper">
          <div class="icon-box">
            <ion-icon name="tennisball-outline"></ion-icon>
          </div>
          <h4 class="h4">Sports</h4>
        </div>
        <ul class="favorite-books">
            <p class="service-item-text">
                I like to stay active and enjoy playing racquetball and squash.
            </p>
        </ul>
      </section>
  
    
  </article>
  