<article class="news active" data-page="news">
    <header>
      <h2 class="h2 article-title">Journey</h2>
    </header>
  
    <!-- Filter Buttons -->
    <div class="news-filter">
      <button class="filter-btn active" data-filter="all">
        <ion-icon name="layers"></ion-icon>
        <span>All</span>
      </button>
      <button class="filter-btn" data-filter="paper">
        <ion-icon name="document"></ion-icon>
        <span>Papers</span>
      </button>
      <button class="filter-btn" data-filter="achievement">
        <ion-icon name="trophy"></ion-icon>
        <span>Achievements</span>
      </button>
      <button class="filter-btn" data-filter="talk">
        <ion-icon name="albums"></ion-icon>
        <span>Presentations</span>
      </button>
      <button class="filter-btn" data-filter="service">
        <ion-icon name="people"></ion-icon>
        <span>Services</span>
      </button>
    </div>

  
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="flag-outline"></ion-icon>
        </div>
      </div>
  
      <ol class="timeline-list">
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Mar 2025</span>
          <p class="service-item-text">
            Served as a subreviewer for ICS'25.
          </p>
        </li>
        <li class="timeline-item" data-category="paper">
          <span class="timeline-item-header">Mar 2025</span>
          <p class="service-item-text">
            Our paper 
            <a href="https://arxiv.org/abs/2503.11612">Enhanced Soups for Graph Neural Networks</a>
            is accepted at IPDPS'25: Graphs, Architectures, Programming, and Learning (GrAPL).
          </p>
        </li>
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Feb 2025</span>
          <p class="service-item-text">
            Served as a subreviewer for HPDC'25.
          </p>
        </li>
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Jan 2025</span>
          <p class="service-item-text">
            Served as a subreviewer at IPDPS'25.
          </p>
        </li>
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Dec 2024</span>
          <p class="service-item-text">
            Served as a subreviewer for TPDS'24.
          </p>
        </li>
        <li class="timeline-item" data-category="talk">
          <span class="timeline-item-header">Sep 2024</span>
          <p class="service-item-text">
          Presented our paper <a href="https://arxiv.org/pdf/2410.22697">MassiveGNN</a> at CLUSTER'24. 
          </p>
        </li>
        <li class="timeline-item" data-category="achievement">
          <span class="timeline-item-header">Aug 2024</span>
          <p class="service-item-text">Accepted to Student Mentorship Program at CLUSTER'24 and was awarded NSF Travel Funding to attend the conference in-person in Kobe, Japan.
          </p>
        </li>
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Jul 2024</span>
          <p class="service-item-text">
            Served as a subreviewer at EMNLP'24.
          </p>
        </li>
        <li class="timeline-item" data-category="paper">
          <span class="timeline-item-header">Jul 2024</span>
          <p class="service-item-text">
          Our paper 
            <a href="https://arxiv.org/pdf/2410.22697">MassiveGNN: Efficient Training via Prefetching for Massively Connected Distributed Graphs</a>
            is accepted at CLUSTER'24, Kobe, Japan.
          </p>
        </li>  
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">May 2024</span>
          <p class="service-item-text">
            Served as a subreviewer at SC'24.
          </p>
        </li>
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Mar 2024</span>
          <p class="service-item-text">
            Served as a subreviewer at ICS'24.
          </p>
        </li>
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Jan 2024</span>
          <p class="service-item-text">
            Served as a subreviewer at CCGRID'24.
          </p>
        </li>
  
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Nov 2023</span>
          <p class="service-item-text">
            Served as a subreviewer at IPDPS'24.
          </p>
        </li>
        <li class="timeline-item" data-category="talk">
          <span class="timeline-item-header">Oct 2023</span>
          <p class="service-item-text">
            Presented our lab's papers,
            <a href=https://dl.acm.org/doi/10.1145/3624062.3626325>
              Enhancing Heterogeneous Federated Learning with Knowledge Extraction and Multi-Model Fusion</a>
            and 
            <a href=https://dl.acm.org/doi/10.1145/3624062.3624170>
              Addressing Stale Gradients in Scalable Federated Deep Reinforcement Learning
            </a>
            at SC'23.
          </p>
        </li> 
        <li class="timeline-item" data-category="paper">
          <span class="timeline-item-header">May 2023</span>
          <p class="service-item-text">
            Our paper 
            <a href=https://ieeexplore.ieee.org/abstract/document/10196650>Domain-Aware Scalable Distributed Training for Geo-Spatiotemporal Data</a>
            is accepted at IPDPS'23: Extreme Scaling of AI for Science (ExSAIS), St. Petersburg, Florida, USA
          </p>
        </li>  
        <li class="timeline-item" data-category="talk">
          <span class="timeline-item-header">Feb 2023</span>
          <p class="service-item-text">
            Presented our paper <a href=https://arxiv.org/abs/2301.11787> Accelerating Domain-aware Deep Learning Models with Distributed Training
            </a>at HPC Asia'23: Multi-scale, Multi-physics and Coupled Problems on highly parallel systems (MMCP).
          </p>
        </li> 
        <li class="timeline-item" data-category="paper">
          <span class="timeline-item-header">Dec 2022</span>
          <p class="service-item-text">
            Our paper <a href=https://arxiv.org/abs/2301.11787> Accelerating Domain-aware Deep Learning Models with Distributed Training
            </a>is accepted at HPC Asia'23: Multi-scale, Multi-physics and Coupled Problems on highly parallel systems (MMCP).
          </p>
        </li> 
        <li class="timeline-item" data-category="service">
          <span class="timeline-item-header">Sep 2020 - Aug 2021</span>
          <p class="service-item-text">
           Served as a Women in Data Science (WiDS) Ambassador at Stanford University.
          </p>
        </li>
        <li class="timeline-item" data-category="achievement">
          <span class="timeline-item-header">Dec 2022</span>
          <p class="service-item-text">
           Received <b>Teaching Excellence Award</b> at Iowa State University. This award honors the top 10% of graduate students at ISU for outstanding teaching, as evaluated by their academic departments.
          </p>
        </li>
        <li class="timeline-item" data-category="talk">
          <span class="timeline-item-header">Oct 2022</span>
          <p class="service-item-text">
            Delivered a talk during a delegation visit from UAS Technikum Wien, Vienna, Austria, hosted by the College of Design at Iowa State University. The presentation focused on our lab's recent work on knowledge-guided neural networks. 
          </p>
        </li>
        <li class="timeline-item" data-category="talk">
          <span class="timeline-item-header">Dec 2021</span>
          <p class="service-item-text">
            Presented our paper <a href=https://arxiv.org/abs/2110.00841>Transfer Learning Approaches for Knowledge Discovery in Grid-based Geo-Spatiotemporal Data
            </a>at NeurIPS'21: AI for Science (AI4S).
          </p>
        </li>
        <li class="timeline-item" data-category="paper">
          <span class="timeline-item-header">Oct 2021</span>
          <p class="service-item-text">
            Our paper <a href=https://arxiv.org/abs/2110.00841>Transfer Learning Approaches for Knowledge Discovery in Grid-based Geo-Spatiotemporal Data
            </a>is accepted at NeurIPS'21: AI for Science (AI4S).
          </p>
        </li>
        <li class="timeline-item" data-category="achievement">
          <span class="timeline-item-header">Mar 2017</span>
          <p class="service-item-text">
           Received <b>Student Achievement Award</b> during undergraduate studies at Institute of Engineering & Management. 
          </p>
        </li>
        <li class="timeline-item" data-category="achievement">
          <span class="timeline-item-header">Aug 2015</span>
          <p class="service-item-text">
            TowFi won <b>IBM Bluemix Idea Hackathon</b>.
          </p>
        </li>
        <li class="timeline-item" data-category="achievement">
          <span class="timeline-item-header">Apr 2015</span>
          <p class="service-item-text">
            Received seed funds for <b>SnaaP Tag</b> from Department of Science & Technology(DST), Govt. of India.
          </p>
        </li>
        
      </ol>
    </section>
  </article>
  