<article class="news active" data-page="news">
    <header>
      <h2 class="h2 article-title">News</h2>
    </header>
  
    <section class="timeline">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="newspaper-outline"></ion-icon> <!-- News icon -->
        </div>
        <h3 class="h3">Recent Updates</h3>
      </div>
  
      <ol class="timeline-list">
        <!-- Example News Item -->
        <li class="timeline-item">
          <span class="timeline-item-header">Mar 2025 - Paper accepted at IPDPS 2025.</span>
        </li>
        <li class="timeline-item">
          <span class="timeline-item-header">Sep 2024 - Presented MassiveGNN at IEEE Cluster 2024.</span>
        </li>
        <li class="timeline-item">
          <span class="timeline-item-header">Aug 2024 - Accepted to Student Mentorship Program at IEEE Cluster 2024.</span>
        </li>
        <li class="timeline-item">
          <span class="timeline-item-header">Aug 2024 - Received Travel Funding from NSF to attend IEEE Cluster 2024 at Kobe, Japan.</span>
        </li>
        <li class="timeline-item">
          <span class="timeline-item-header">July 2024 - Our paper MassiveGNN is accepted at IEEE Cluster 2024.</span>
        </li>
      </ol>
    </section>
  </article>