<!--
- #PORTFOLIO
-->

<article class="publication active" data-page="publications">
<header>
    <h2 class="h2 article-title">Publications</h2>
</header>
<section class="publications">
    <ul class="publication-list">
    <li class="publication-item">
        <a href="" target="_blank" class="publication-link">
        <h3 class="publication-title">Enhanced Soups for Graph Neural Networks</h3>
        <p class="publication-detail">Joseph Zuber, Aishwarya Sarkar, Joseph Jennings, Ali Jannesari. In Proc. of the 14th International Workshop on Graphs, Architectures, Programming, and Learning (GrAPL) co-located with IPDPS 2025, Milan, Italy, pages 1–10, IEEE Computer Society, June 2025. </p>
        </a>
    </li>
    <li class="publication-item">
        <a href="https://arxiv.org/pdf/2410.22697" target="_blank" class="publication-link">
        <h3 class="publication-title">MassiveGNN: Efficient Training via Prefetching for Massively Connected Distributed Graphs.</h3>
        <p class="publication-detail">Aishwarya Sarkar, Sayan Ghosh, Nathan Tallent, Ali Jannesari. In Proc. of the IEEE International Conference on Cluster Computing (CLUSTER), Kobe, Japan, pages 1–11, September 2024.</p>
        </a>
    </li>
    <li class="publication-item">
        <a href="https://arxiv.org/abs/2402.02018" target="_blank" class="publication-link">
        <h3 class="publication-title">The Landscape and Challenges of HPC Research and LLMs</h3>
        <p class="publication-detail">Le Chen, Nesreen K. Ahmed, Akash Dutta, Arijit Bhattacharjee, Sixing Yu, Quazi Ishtiaque Mahmud, Waqwoya Abebe, Hung Phan, Aishwarya Sarkar, Branden Butler, Niranjan Hasabnis, Gal Oren, Vy A. Vo, Juan Pablo Munoz, Theodore L. Willke, Tim Mattson, Ali Jannesari. arXiv preprint arXiv:2402.02018 (2024).</p>
        </a>
    </li>
    <li class="publication-item">
        <a href="https://ieeexplore.ieee.org/abstract/document/10196650" target="_blank" class="publication-link">
        <h3 class="publication-title">Domain-Aware Scalable Distributed Training for Geo-Spatiotemporal Data</h3>
        <p class="publication-detail">Aishwarya Sarkar, Jien Zhang, Chaoqun Lu, Ali Jannesari. 2023 IEEE International Parallel and Distributed Processing Symposium Workshops (IPDPSW). IEEE, 2023.</p>
        </a>
    </li>
    
    <li class="publication-item">
        <a href="https://arxiv.org/abs/2301.11787" target="_blank" class="publication-link">
        <h3 class="publication-title">Accelerating Domain-aware Deep Learning Models with Distributed Training</h3>
        <p class="publication-detail">Aishwarya Sarkar, Chaoqun Lu, Ali Jannesari. Workshop on Multi-scale, Multi-physics and Coupled Problems on highly parallel systems (MMCP), co-located with HPC Asia, pages 1–5, February 2023.</p>
        </a>
    </li>
    
    <li class="publication-item">
        <a href="https://www.proquest.com/openview/b9120c78c47e46bb8c9f6204bfcb46ff/1?pq-origsite=gscholar&cbl=18750&diss=y" target="_blank" class="publication-link">
        <h3 class="publication-title">Transfer Learning Approaches for Knowledge Discovery in Grid-based Geo-Spatiotemporal Data (Masters Thesis)</h3>
        <p class="publication-detail">Aishwarya Sarkar, Jien Zhang, Chaoqun Lu, Ali Jannesari. NeurIPS 2021 AI for Science Workshop. </p>
        </a>
    </li>
    
    <li class="publication-item">
        <a href="https://arxiv.org/abs/2010.04328" target="_blank" class="publication-link">
        <h3 class="publication-title">HydroDeep - A Knowledge Guided Deep Neural Network for Geo-Spatiotemporal Data Analysis</h3>
        <p class="publication-detail">Aishwarya Sarkar, Jien Zhang, Chaoqun Lu, Ali Jannesari. arXiv preprint arXiv:2010.04328 (2020).</p>
        </a>
    </li>
    </ul>
    
    
</section>
</article>