<!--
- #PORTFOLIO
-->

<article class="publication active" data-page="publications">
<header>
    <h2 class="h2 article-title">Publications</h2>
</header>
<div class="news-filter publication-filter">
    <button class="filter-btn active" data-filter="all">
        <ion-icon name="layers"></ion-icon>
        <span>All</span>
    </button>
    <button class="filter-btn" data-filter="conference">
        <ion-icon name="people"></ion-icon>
        <span>Conference</span>
    </button>
    <button class="filter-btn" data-filter="workshop">
        <ion-icon name="hammer"></ion-icon>
        <span>Workshop</span>
    </button>
    <button class="filter-btn" data-filter="preprint">
        <ion-icon name="document-text"></ion-icon>
        <span>Preprint</span>
    </button>
</div>
<section class="publications">
    <ul class="publication-list">
    <li class="publication-item" data-category="conference">
        <h3 class="publication-title"><a href="" target="_blank" rel="noopener noreferrer" class="publication-title-link">Rudder: Steering Prefetching in Distributed GNN Training using LLM Agents.</a></h3>
        <p class="publication-detail"><strong>Aishwarya Sarkar</strong>, Sayan Ghosh, Nathan Tallent, Aman Chadha, Tanya Roosta, Ali Jannesari. In Proc. of the 40th ACM International Conference on Supercomputing (ICS), Belfast, Northern Ireland, UK, pages 1-13, July 2026.</p>
    </li>
    <li class="publication-item" data-category="conference">
        <h3 class="publication-title"><a href="https://dl.acm.org/doi/10.1145/3748636.3764172" target="_blank" rel="noopener noreferrer" class="publication-title-link">HydroGAT: Distributed Heterogeneous Graph Attention Transformer for Spatiotemporal Flood Prediction.</a></h3>
        <p class="publication-detail"><strong>Aishwarya Sarkar</strong>, Autrin Hakimi, Xiaoqiong Chen, Hai Huang, Chaoqun Lu, Ibrahim Demir, Ali Jannesari. In Proc. of the 33rd ACM International Conference on Advances in Geographic Information Systems (SIGSPATIAL ’25), Minneapolis, USA, pages 1-11, November 2025. </p>
    </li>
    <li class="publication-item" data-category="workshop">
        <h3 class="publication-title"><a href="https://ieeexplore.ieee.org/document/11105985" target="_blank" rel="noopener noreferrer" class="publication-title-link">Enhanced Soups for Graph Neural Networks</a></h3>
        <p class="publication-detail">Joseph Zuber, <strong>Aishwarya Sarkar</strong>, Joseph Jennings, Ali Jannesari. In Proc. of the 14th International Workshop on Graphs, Architectures, Programming, and Learning (GrAPL) co-located with IPDPS 2025, Milan, Italy, pages 1–10, IEEE Computer Society, June 2025. </p>
    </li>
    <li class="publication-item" data-category="conference">
        <h3 class="publication-title"><a href="https://arxiv.org/pdf/2410.22697" target="_blank" rel="noopener noreferrer" class="publication-title-link">MassiveGNN: Efficient Training via Prefetching for Massively Connected Distributed Graphs.</a></h3>
        <p class="publication-detail"><strong>Aishwarya Sarkar</strong>, Sayan Ghosh, Nathan Tallent, Ali Jannesari. In Proc. of the IEEE International Conference on Cluster Computing (CLUSTER), Kobe, Japan, pages 1–11, September 2024.</p>
    </li>
    <li class="publication-item" data-category="preprint">
        <h3 class="publication-title"><a href="https://arxiv.org/abs/2402.02018" target="_blank" rel="noopener noreferrer" class="publication-title-link">The Landscape and Challenges of HPC Research and LLMs</a></h3>
        <p class="publication-detail">Le Chen, Nesreen K. Ahmed, Akash Dutta, Arijit Bhattacharjee, Sixing Yu, Quazi Ishtiaque Mahmud, Waqwoya Abebe, Hung Phan, <strong>Aishwarya Sarkar</strong>, Branden Butler, Niranjan Hasabnis, Gal Oren, Vy A. Vo, Juan Pablo Munoz, Theodore L. Willke, Tim Mattson, Ali Jannesari. arXiv preprint arXiv:2402.02018 (2024).</p>
    </li>
    <li class="publication-item" data-category="workshop">
        <h3 class="publication-title"><a href="https://ieeexplore.ieee.org/abstract/document/10196650" target="_blank" rel="noopener noreferrer" class="publication-title-link">Domain-Aware Scalable Distributed Training for Geo-Spatiotemporal Data</a></h3>
        <p class="publication-detail"><strong>Aishwarya Sarkar</strong>, Jien Zhang, Chaoqun Lu, Ali Jannesari. 2023 IEEE International Parallel and Distributed Processing Symposium Workshops (IPDPSW). IEEE, 2023.</p>
    </li>
    
    <li class="publication-item" data-category="workshop">
        <h3 class="publication-title"><a href="https://arxiv.org/abs/2301.11787" target="_blank" rel="noopener noreferrer" class="publication-title-link">Accelerating Domain-aware Deep Learning Models with Distributed Training</a></h3>
        <p class="publication-detail"><strong>Aishwarya Sarkar</strong>, Chaoqun Lu, Ali Jannesari. Workshop on Multi-scale, Multi-physics and Coupled Problems on highly parallel systems (MMCP), co-located with HPC Asia, pages 1–5, February 2023.</p>
    </li>
    
    <li class="publication-item" data-category="workshop">
        <h3 class="publication-title"><a href="https://www.proquest.com/openview/b9120c78c47e46bb8c9f6204bfcb46ff/1?pq-origsite=gscholar&cbl=18750&diss=y" target="_blank" rel="noopener noreferrer" class="publication-title-link">Transfer Learning Approaches for Knowledge Discovery in Grid-based Geo-Spatiotemporal Data (Masters Thesis)</a></h3>
        <p class="publication-detail"><strong>Aishwarya Sarkar</strong>, Jien Zhang, Chaoqun Lu, Ali Jannesari. NeurIPS 2021 AI for Science Workshop. </p>
    </li>
    
    <li class="publication-item" data-category="preprint">
        <h3 class="publication-title"><a href="https://arxiv.org/abs/2010.04328" target="_blank" rel="noopener noreferrer" class="publication-title-link">HydroDeep - A Knowledge Guided Deep Neural Network for Geo-Spatiotemporal Data Analysis</a></h3>
        <p class="publication-detail"><strong>Aishwarya Sarkar</strong>, Jien Zhang, Chaoqun Lu, Ali Jannesari. arXiv preprint arXiv:2010.04328 (2020).</p>
    </li>
    </ul>
    
    
</section>
</article>
