<article class="resume active" data-page="resume">

    <header>
      <h2 class="h2 article-title">Resume</h2>
    </header>

    <section class="timeline">

      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="book-outline"></ion-icon>
        </div>

        <h3 class="h3">Education</h3>
      </div>

      <ol class="timeline-list">

        <li class="timeline-item">
          <span>2017 — Present</span>
          <div class="timeline-item-header">
          <h4 class="h4 timeline-item-title">Iowa State University</h4>
          <span class="timeline-location">Ames, Iowa, USA</span>
          </div>
          <p>Concurrent M.S. and Ph.D. in Computer Science</p>
        </li>

        <li class="timeline-item">
          <span>2013 — 2017</span>
          <div class="timeline-item-header">
          <h4 class="h4 timeline-item-title">Institute of Engineering & Management</h4>
          <span class="timeline-location">Kolkata, West Bengal, India</span>
          </div>

          <p>Bachelor of Technology in Computer Science & Engineering
          </p>

        </li>

      </ol>

    </section>

    <section class="timeline">

      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>

        <h3 class="h3">Research Positions</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <span>May 2024 — Present</span>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">Pacific Northwest National Laboratory</h4>
            <span class="timeline-location">Richland, Washington, US</span>
          </div>
          <p>Ph.D. Intern - High Performance Computing</p>
        </li>

        <li class="timeline-item">
          <span>May 2018 — Present</span>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">Iowa State University</h4>
            <span class="timeline-location">Ames, Iowa, USA</span>
          </div>
          <p>Ph.D. Researcher / Graduate Assistant</p>
        </li>
        
        <li class="timeline-item">
          <span>May 2023 — Jan 2024</span>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">Pacific Northwest National Laboratory</h4>
            <span class="timeline-location">Richland, Washington, USA</span>
          </div>
          <p>Ph.D. Intern - High Performance Computing</p>
        </li>
      </ol>

    </section>
    <section class="timeline">

      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>

        <h3 class="h3">Industry Positions</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <span>May 2022 - Aug 2022</span>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">Corteva Agriscience</h4>
            <span class="timeline-location">Johnston, Iowa, USA</span>
          </div>
          <p>Software Developer Intern (R&D)</p>
        </li>
        
        <li class="timeline-item">
          <span>Jul 2019 - Aug 2019</span>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">MākuSafe</h4>
            <span class="timeline-location">West Des Moines, Iowa, USA</span>
          </div>
          <p>Machine Learning Analytics Intern</p>
        </li>
        
        <li class="timeline-item">
          <span>Jul 2016 - Aug 2016</span>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">Wipro</h4>
            <span class="timeline-location">Kolkata, West Bengal, India</span>
          </div>
          <p>Summer Intern</p>
        </li>
      </ol>
      </section>
    <section class="timeline">

      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>

        <h3 class="h3">Teaching Positions</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <span>Spring 2021 - Spring 2022 (2 Semesters)</span>
          <h4 class="h4 timeline-item-title">COMS 415/515 Software System Safety Teaching Assistant</h4>
        </li>
    
        <li class="timeline-item">
          <span>Fall 2021 - Fall 2023 (3 Semesters)</span>
          <h4 class="h4 timeline-item-title">COMS 409/509 Software Requirements Engineering Teaching Assistant</h4>
        </li>
        <li class="timeline-item">
          <span>Spring 2019 - Spring 2021 (5 Semesters)</span>
          <h4 class="h4 timeline-item-title">COMS 319 Construction of User Interface (UI) Teaching Assistant</h4>
        </li>
        <li class="timeline-item">
          <span>Fall 2017 - Spring 2019 (4 Semesters)</span>
          <h4 class="h4 timeline-item-title">COMS 113 Spreadsheets and Databases Teaching Assistant</h4>
        </li>
      </ol>
    </section>
  </article>