<article class="resume active" data-page="resume">

    <header>
      <h2 class="h2 article-title">Resume</h2>
    </header>

    <div class="news-filter resume-filter">
      <button class="filter-btn active" data-filter="all">
        <ion-icon name="layers"></ion-icon>
        <span>All</span>
      </button>
      <button class="filter-btn" data-filter="education">
        <ion-icon name="school"></ion-icon>
        <span>Education</span>
      </button>
      <button class="filter-btn" data-filter="experience">
        <ion-icon name="briefcase"></ion-icon>
        <span>Experience</span>
      </button>
      <button class="filter-btn" data-filter="teaching">
        <ion-icon name="library"></ion-icon>
        <span>Teaching</span>
      </button>
      <button class="filter-btn" data-filter="leadership">
        <ion-icon name="people"></ion-icon>
        <span>Leadership</span>
      </button>
      <button class="filter-btn" data-filter="achievement">
        <ion-icon name="trophy"></ion-icon>
        <span>Achievement</span>
      </button>
    </div>

    <section class="timeline resume-section" data-category="education">

      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="book-outline"></ion-icon>
        </div>

        <h3 class="h3">Education</h3>
      </div>

      <ol class="timeline-list">

        <li class="timeline-item">
          <span>2017 — Present</span>
          <p><strong>Concurrent M.S. and Ph.D. in Computer Science</strong></p>
          <div class="timeline-item-header">
          <h4 class="h4 timeline-item-title">Iowa State University</h4>
          <span class="timeline-location">Ames, Iowa, USA</span>
          </div>
        </li>

        <li class="timeline-item">
          <span>2013 — 2017</span>
          <p><strong>Bachelor of Technology in Computer Science & Engineering</strong>
          </p>
          <div class="timeline-item-header">
          <h4 class="h4 timeline-item-title">Institute of Engineering & Management</h4>
          <span class="timeline-location">Kolkata, West Bengal, India</span>
          </div>
        </li>

      </ol>

    </section>

    <section class="timeline resume-section" data-category="experience">

      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>

        <h3 class="h3">Research Positions</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
            <span>May 2025 — Aug 2025</span>
            <p><strong>PhD Intern - AI-Assisted Scientific Workflows</strong></p>
            <div class="timeline-item-header">
              <h4 class="h4 timeline-item-title">Pacific Northwest National Laboratory</h4>
              <span class="timeline-location">Richland, Washington, USA</span>
            </div>
        </li>

        <li class="timeline-item">
            <span>Jan 2025 — May 2025</span>
            <p><strong>Visiting Researcher</strong></p>
            <div class="timeline-item-header">
              <h4 class="h4 timeline-item-title">Pacific Northwest National Laboratory</h4>
              <span class="timeline-location">Richland, Washington, USA</span>
            </div>
        </li>

        <li class="timeline-item">
            <span>May 2024 — Jan 2025</span>
            <p><strong>PhD Intern - Scientific Workflow Measurement, Modeling, and Analysis</strong></p>
            <div class="timeline-item-header">
              <h4 class="h4 timeline-item-title">Pacific Northwest National Laboratory</h4>
              <span class="timeline-location">Richland, Washington, USA</span>
            </div>
        </li>

        <li class="timeline-item">
            <span>May 2023 — Jan 2024</span>
            <p><strong>PhD Intern - High Performance Computing</strong></p>
            <div class="timeline-item-header">
              <h4 class="h4 timeline-item-title">Pacific Northwest National Laboratory</h4>
              <span class="timeline-location">Richland, Washington, USA</span>
            </div>
        </li>

        <li class="timeline-item">
            <span>May 2018 — Present</span>
            <p><strong>Ph.D. Researcher / Graduate Assistant</strong></p>
            <div class="timeline-item-header">
              <h4 class="h4 timeline-item-title">Iowa State University</h4>
              <span class="timeline-location">Ames, Iowa, USA</span>
            </div>
            <p>Advisor: <a href="https://swapp.cs.iastate.edu/people/ali-jannesari">Dr. Ali Jannesari</a></p>
          </li>
      </ol>

    </section>
    <section class="timeline resume-section" data-category="experience">

      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>

        <h3 class="h3">Industry Positions</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <span>May 2022 - Aug 2022</span>
          <p><strong>Software Developer Intern (R&D)</strong></p>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">Corteva Agriscience</h4>
            <span class="timeline-location">Johnston, Iowa, USA</span>
          </div>
          <p>Supervisor: <a href="https://www.linkedin.com/in/kevinminnis/">Kevin Minnis</a></p>
        </li>
        
        <li class="timeline-item">
          <span>Jul 2019 - Aug 2019</span>
          <p><strong>Machine Learning Analytics Intern</strong></p>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">MākuSafe</h4>
            <span class="timeline-location">West Des Moines, Iowa, USA</span>
          </div>
        </li>
        
        <li class="timeline-item">
          <span>Jul 2016 - Aug 2016</span>
          <p><strong>Summer Intern</strong></p>
          <div class="timeline-item-header">
            <h4 class="h4 timeline-item-title">Wipro</h4>
            <span class="timeline-location">Kolkata, West Bengal, India</span>
          </div>
        </li>
      </ol>
      </section>
    <section class="timeline resume-section" data-category="teaching">

      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="briefcase-outline"></ion-icon>
        </div>

        <h3 class="h3">Teaching Positions</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <span>Spring 2021 - Spring 2022 (2 Semesters)</span>
          <h4 class="h4 timeline-item-title">COMS 415/515 Software System Safety Teaching Assistant</h4>
        </li>
    
        <li class="timeline-item">
          <span>Fall 2021 - Fall 2023 (3 Semesters)</span>
          <h4 class="h4 timeline-item-title">COMS 409/509 Software Requirements Engineering Teaching Assistant</h4>
        </li>
        <li class="timeline-item">
          <span>Spring 2019 - Spring 2021 (5 Semesters)</span>
          <h4 class="h4 timeline-item-title">COMS 319 Construction of User Interface (UI) Teaching Assistant</h4>
        </li>
        <li class="timeline-item">
          <span>Fall 2017 - Spring 2019 (4 Semesters)</span>
          <h4 class="h4 timeline-item-title">COMS 113 Spreadsheets and Databases Teaching Assistant</h4>
        </li>
      </ol>
    </section>

    <section class="timeline resume-section" data-category="leadership">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="people-outline"></ion-icon>
        </div>
        <h3 class="h3">Leadership and Professional Activities</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <p>Supervised and mentored 4+ undergraduate and masters theses.</p>
        </li>
        <li class="timeline-item">
          <p>Hosted events and seminars as Women in Data Science (WiDS) Ames Ambassador, Stanford University.</p>
        </li>
        <li class="timeline-item">
          <p>Directed financial operations as Treasurer, Computer Science Graduate Student Organization, Iowa State University.</p>
        </li>
      </ol>
    </section>

    <section class="timeline resume-section" data-category="achievement">
      <div class="title-wrapper">
        <div class="icon-box">
          <ion-icon name="trophy-outline"></ion-icon>
        </div>
        <h3 class="h3">Achievements</h3>
      </div>

      <ol class="timeline-list">
        <li class="timeline-item">
          <div class="timeline-item-header">
            <p class="timeline-achievement-text">Teaching Excellence Award, Iowa State University</p>
            <span class="timeline-location">2022</span>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-item-header">
            <p class="timeline-achievement-text">Student Achievement Award, Institute of Engineering & Management</p>
            <span class="timeline-location">2017</span>
          </div>
        </li>
      </ol>
    </section>
  </article>
