<aside class="sidebar" data-sidebar>
  <div class="hamburger" id="hamburger" onclick="toggleSidebarNav()">&#9776;</div>
  <!-- icon-hamburger.png -->
    <div class="sidebar-info">
      
      <figure class="avatar-box">
        <img src="./assets/images/headshot-closeup.jpg" alt="Aishwarya Sarkar" width="80">
      </figure>

      <div class="info-content">
        <h1 class="name" title="Aishwarya Sarkar">Aishwarya Sarkar</h1>

        <p class="title">
          <ion-icon name="school-outline" class="inline-icon"></ion-icon>
          Ph.D. Candidate</p>
        <p class="title">
          <ion-icon name="rocket-outline" class="inline-icon"></ion-icon>
          Computer Science Researcher</p>
        <p class="title">
          <ion-icon name="business-outline" class="inline-icon"></ion-icon>
          Iowa State University
        </p>
        
      </div>
      <!-- Hamburger icon in top-right -->
    

    </div>

    <div class="sidebar-info_more">

      <div class="separator"></div>

      <ul class="contacts-list">

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>
          <div class="contact-info">
            <p class="contact-title">Email</p>

            <a href="mailto:aishwarya.sarkar@outlook.com" class="contact-link">aishwarya.sarkar@outlook.com</a>
          </div>

        </li>

        <li class="contact-item">

          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <div class="contact-info">
            <p class="contact-title">Location</p>

            <address>Ames, Iowa, USA</address>
          </div>

        </li>

      </ul>

      <div class="separator"></div>

      <ul class="social-list">
        <li class="social-item">
          <a href="https://github.com/aishwaryyasarkar" class="social-link" target="_blank" rel="noopener">
            <iconify-icon icon="simple-icons:github" aria-label="GitHub"></iconify-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="https://www.linkedin.com/in/aishwaryya-sarkar" class="social-link" target="_blank" rel="noopener">
            <iconify-icon icon="simple-icons:linkedin" aria-label="LinkedIn"></iconify-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="https://scholar.google.com/citations?user=tVe6660AAAAJ&hl=en" class="social-link" target="_blank" rel="noopener">
            <iconify-icon icon="simple-icons:googlescholar" aria-label="Google Scholar"></iconify-icon>
          </a>
        </li>
        <li class="social-item">
          <a href="https://x.com/ifthisisit_" class="social-link" target="_blank" rel="noopener">
            <iconify-icon icon="simple-icons:x" aria-label="X"></iconify-icon>
          </a>
        </li>
      </ul>

    </div>
    <!-- Mobile-friendly nav list that toggles on hamburger click -->
  <ul class="sidebar-nav" id="sidebar-nav">
    <li>
      <button 
        class="navbar-link" 
        onclick="loadPartial('content-placeholder', './partials/about.html')">
        About
      </button>
    </li>
    <li>
      <button 
        class="navbar-link" 
        onclick="loadPartial('content-placeholder', './partials/resume.html')">
        Resume
      </button>
    </li>
    <li>
      <button 
        class="navbar-link" 
        onclick="loadPartial('content-placeholder', './partials/publications.html')">
        Publications
      </button>
    </li>
    <li>
      <button 
        class="navbar-link" 
        onclick="loadPartial('content-placeholder', './partials/journey.html')">
        Journey
      </button>
    </li>
  </ul>
  </aside>

  
